@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

html, body {
    margin: 0;
    width: 100%;
    font-family: 'Inter', 'Source Sans Pro',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #fff;
    font-size: 22px;
    position: relative;
    z-index: 3;
    background: #040404;
    min-height: 100vh;
}

body {
    background: linear-gradient(90deg, #040404 20px, transparent 1%) center, linear-gradient(#040404 20px, transparent 1%) center, #333;
    background-size: 21px 21px;
    overflow-x: hidden;
    max-width: 100%;
}

::selection {
    background: rgba(208, 26, 124, .4);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    position: relative;
    z-index: 2;
}

h1, h2, h3, h4 {
    font-weight: 900;
    font-family: 'Montserrat', 'Inter', 'Source Sans Pro',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

h3, h4 {
    margin: 50px auto 0;
}

p {
    line-height: 1.8;
    font-size: 22px;
    font-weight: 400;
    margin: 24px 0 24px;
}

a {
    color: #fff;
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
}

pre {
    font-size: 16px !important;
    line-height: 1 !important;
    border-radius: 4px;
    margin: 0 0 10px;
    position: relative;
    z-index: 1;
}

.producthunt {
    position: relative;
    z-index: 3;
}

.producthunt img {
    display: block;
}
